doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{docTitle}
  link(rel='stylesheet' href='../stylesheet.css')
header.main-header
  nav.main-header-nav
    p.logo #{logo}
    ul.main-header-list
      li.main-header__items
        a(href='/') Shop
      li.main-header__items
        a(href='/admin/add-product') Add Product
h1.error Error 404: Page not found!
img.error-image(src="../error.png" alt="error image")