<%- include(`includes/header.ejs`) %> 
<body>
    <%- include(`includes/nav.ejs`) %> 
    <h1 class="error">Error 404: Page not found!</h1>
    <img src="../error.png" alt="error-image" class="error-image">
</body>
</html>