<%- include(`includes/header.ejs`); %> 
    <h1 class="prompt__text">Enter a username:</h1>
    
    <form  class="input__form"action="/" method="POST">
        <div class="input__control">
            <input type="text" name="username" id="title">
            <button type="submit">Create User</button>
        </div>
    </form>
</body>
</html>