<%- include(`includes/header.ejs`) %> 
<body>
    <h1 class="prompt__text">Users page</h1>
    <% if(users.length !== 0) { %> 
        <ul class="input__control">
            <% for(user of users) { %>
            <li> <%= user.username %> </li>
            <% } %>  
        </ul>
    <% } %> 
    <a class = "input__control" href="/">Add another user</a>
</body>
</html>
