extends layouts/main-layout.pug

block content
    main
        .grid
            each product in prods
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    .card__image
                        img(src="https://vignette.wikia.nocookie.net/fireemblem/images/0/01/Secret_Book_%28Artwork%29.png/revision/latest/top-crop/width/360/height/450?cb=20160429232011", alt="no image", style="width: 15rem; height: auto;")
                    .card__content
                        h2.product__price $19.99
                        p.product__description A very nice book lots of words 
                    .card__actions
                        button.btn Add to cart