<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageName }}</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <p class = "logo">YACKER</p>
            <ul class="main-header-list">
                <li class="main-header__items"><a href = "/">Shop</a></li>
                <li class="main-header__items"><a href = "/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="error">Error 404: Page not found!</h1>
</body>
</html>